.models-list {
  text-align: center;
}
.models-list > li {
  padding: 2.7em 0;
}
.models-list .name {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 0.2em;
}
.models-list img {
  display: block;
  max-width: 80%;
  margin: 1.8em auto 2.2em;
  height: auto;
  object-fit: contain;
}
.models-list .price {
  display: block;
  color: #5d7c89;
  margin-bottom: 1em;
}
